@media (max-width: 1150px)
  .promo
    &__box
      padding-top: 0
      flex-wrap: wrap
    &__wrap
      padding-top: 0
      margin: 0 auto
      margin-bottom: 100px
    &__img-wrap
      margin: 0 auto
