@media (max-width: 1151px)
  .promo
    &__box
      padding-top: 0
      flex-wrap: wrap
    &__wrap
      padding-top: 0
      margin: 0 auto
      margin-bottom: 100px
    &__img-wrap
      margin: 0 auto

@media (max-width: 1085px)
  .friends__slider-item
    width: 46%
    flex-shrink: 0
    margin-right: 7%

@media (max-width: 1051px)
  .friends__slider
    overflow-x: hidden

  .friends__slider-wrap
    margin-bottom: 67px

  .friends__slider-img
    margin: 0 auto
  .slider__img-box
    margin-bottom: 33px
  .friends__slider-content
    text-align: center
  .help__item
    margin-right: 0
    width: 17%
  .help__items
    justify-content: space-between

@media (max-width: 801px)
  .donation__block
    flex-wrap: wrap
    justify-content: center
  .donation__img-wrap
    order: 1
  .donation__content
    margin-bottom: 60px
  .help__item
    width: 22%

@media (max-width: 769px)
  .promo__wrap
    display: flex
    flex-direction: column
  .promo_btn
    margin: 0 auto
  .promo__img-wrap
    max-width: 569px
  .promo__img-wrap
    margin: 0 auto
    margin-left: auto
    margin-right: 0
  .friends__title
    margin-bottom: 64px
  .friends__slider-wrap
    margin-bottom: 55px
  .about__box
    flex-wrap: wrap
    justify-content: center
  .about__img-wrap
    order: 1
    margin-right: 0
  .about__content
    order: 0
    margin-bottom: 80px
  .help__item
    width: 28%
  .help__items
    max-width: 91%

@media (max-width:751px)
  .promo_title
    max-width: 100%
    text-align: center
  .promo__wrap
    max-width: 100%
  .promo_text
    text-align: center
    font-family: 'Arial'
  .friends__slider
    margin-bottom: 20px
  .friends__slider-box
    padding: 0
  .friends__slider-btns
    margin: 0 auto
    max-width: 183px
    width: 100%
    @include flexMixin
  .friends__slider-btn-control
    position: static
    top: 0%
    transform: translateY(0%)
  .friends__slider-item
    width: 48%
    margin-right: 3%
  .help__items
    max-width: 100%

@media (max-width: 601px)
  .friends__slider-item
    width: 100%

@media (max-width:481px)
  .promo_title
    font-size: 36px
    line-height: 42px
  .donation__container
    padding: 80px 10px 100px
  .donation__title
    max-width: 74%
    margin: 0 auto
    margin-bottom: 20px
    text-align: center
  .donation__bank-info
    text-align: center
    font-size: 15px
    line-height: 24px
    font-family: 'Georgia'
    letter-spacing: 0
  .donation__card-info
    max-width: 100%
    font-size: 15px
    line-height: 17px
  .donation__info-text
    text-align: justify
  .help__item
    width: 49%

@media (max-width:321px)
  .promo_title
    max-width: 200px
    margin: 0 auto
    margin-bottom: 42px
    font-size: 28px
    line-height: 32px
  .promo_text
    font-size: 15px
  .promo__wrap
    margin-bottom: 105px
  .promo__img-wrap
    max-width: 262px
  .promo__box
    margin-bottom: 45px
  .about__title
    max-width: 100%
    text-align: center
  .about__text
    margin: 0 auto
    max-width: 270px
    text-align: justify
  .about__text_mb
    margin-bottom: 25px
  .about__img-wrap
    max-width: 260px
  .about__content
    margin-bottom: 37px
  .friends__container
    padding-top: 42px
  .about__box
    margin-bottom: 42px
  .friends__title
    margin-bottom: 40px
  .friends__slider-wrap
    margin-bottom: 40px
    max-width: 276px
  .donation__container
    padding: 80px 10px 46px
    padding-top: 42px
  .donation__img-wrap
    max-width: 260px
  .donation__content
    margin-bottom: 46px
  .donation__card-info
    max-width: 281px
    margin: 0 auto
    margin-bottom: 20px
  .donation__info-text
    font-size: 13px
  .friends__container
    padding-bottom: 40px
  .help__wrap
    padding-top: 40px
    margin-bottom: -13px
  .help__title
    max-width: 259px
    margin-bottom: 36px
  .help__item-title
    font-size: 15px
    line-height: 17px
  .help__img
    margin-bottom: 18px
    max-width: 50px
    max-height: 50px
  .help__item
    margin-bottom: 38px
