@media (max-width: 1150px)
  .promo
    &__box
      padding-top: 0
      flex-wrap: wrap
    &__wrap
      padding-top: 0
      margin: 0 auto
      margin-bottom: 100px
    &__img-wrap
      margin: 0 auto

@media (max-width: 1050px)
  .friends__slider
    overflow-x: hidden
  .friends__slider-item
    width: 46%
    flex-shrink: 0
  .friends__slider-wrap
    margin-bottom: 67px
  .friends__slider-item
    margin-right: 7%
  .friends__slider-img
    margin: 0 auto
  .slider__img-box
    margin-bottom: 33px
  .friends__slider-content
    text-align: center

@media (max-width: 768px)
  .promo__wrap
    display: flex
    flex-direction: column
  .promo_btn
    margin: 0 auto
  .promo__img-wrap
    max-width: 569px
  .promo__img-wrap
    margin: 0 auto
    margin-left: auto
    margin-right: 0
  .about__box
    flex-wrap: wrap
    justify-content: center
  .about__img-wrap
    order: 1
    margin-right: 0
  .about__content
    order: 0
    margin-bottom: 80px

@media (max-width:750px)
  .promo_title
    max-width: 100%
    text-align: center
  .promo__wrap
    max-width: 100%
  .promo_text
    text-align: center
    font-family: 'Arial'
  .friends__slider
    margin-bottom: 20px
  .friends__slider-box
    padding: 0
  .friends__slider-btns
    margin: 0 auto
    max-width: 183px
    width: 100%
    @include flexMixin
  .friends__slider-btn-control
    position: static
    top: 0%
    transform: translateY(0%)
  .friends__slider-item
    width: 48%
    margin-right: 3%

@media (max-width: 600px)
  .friends__slider-item
    width: 100%

@media (max-width:480px)
  .promo_title
    font-size: 36px
    line-height: 42px

@media (max-width:320px)
  .promo_title
    max-width: 200px
    margin: 0 auto
    margin-bottom: 42px
    font-size: 28px
    line-height: 32px
  .promo_text
    font-size: 15px
  .promo__wrap
    margin-bottom: 105px
  .promo__img-wrap
    max-width: 262px
  .promo__box
    margin-bottom: 45px
  .about__title
    max-width: 100%
    text-align: center
  .about__text
    margin: 0 auto
    max-width: 270px
    text-align: justify
  .about__text_mb
    margin-bottom: 25px
  .about__img-wrap
    max-width: 260px
  .about__content
    margin-bottom: 37px
  .friends__container
    padding-top: 42px
  .about__box
    margin-bottom: 42px
  .friends__title
    margin-bottom: 40px
  .friends__slider-wrap
    margin-bottom: 40px
    max-width: 276px
