@import ../../assets/styles/_mixin
@import ../../assets/styles/_vars

.wrapper-top
  background: #000
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)

.promo__box
  padding-top: 38px
  margin-bottom: 80px
  @include flexMixin(flex-start)

.promo__wrap
  padding-top: 163px
  max-width: 460px
  width: 100%

.promo_title
  max-width: 310px
  margin-bottom: 42px
  font-size: 44px
  line-height: 57px
  font-style: normal
  font-weight: 400
  color: #FFFFFF

.promo_text
  margin-bottom: 42px
  font-size: 15px
  line-height: 24px
  color: #CDCDCD

.promo_btn
  padding: 15px 45px
  transition: box-shadow 0.5s
  &:hover
    box-shadow: inset 0 0 15px #000000d2

.promo__img-wrap
  max-width: 698px

.about__container
  max-width: 854px
  width: 100%
  margin: 0 auto
  @include flexMixin

.about__box
  margin-bottom: 100px

.about__img-wrap
  max-width: 300px
  margin-right: 125px

.about__title
  max-width: 370px
  margin-bottom: 25px
  text-align: left

.about__text
  font-family: 'Arial'
  font-style: normal
  font-weight: 400
  font-size: 15px
  line-height: 24px
  color: #4C4C4C

.about__text_mb
  margin-bottom: 25px

.friends
  background: #F6F6F6

.friends__container
  padding-top: 80px
  padding-bottom: 100px

.friends__title
  margin: 0 auto
  margin-bottom: 53px
  max-width: 400px
  text-align: center

.friends__slider-box
  position: relative

.friends__slider-wrap
  max-width: 991px
  width: 100%
  margin: 0 auto
  margin-bottom: 60px

.friends__slider
  @include flexMixin
  width: 100%

.friends__slider-item
  width: 270px
  overflow-x: hidden
  background-color: #FAFAFA
  border-radius: 9px
  transition: all 0.5s
  &:hover
    box-shadow: 0 0 5px #bbbbbb
  &:hover  .friends__slider-title
    text-shadow: 0 0px 5px #bbbbbb
  &:hover .friends__slider-link
    background-color: #F1CDB3

.friends__slider-img
  margin-bottom: 26px

.friends__slider-title
  transition: all 0.5s
  margin-bottom: 30px
  @include georgiaStyle
  text-align: center

.friends__slider-btn-control
  position: absolute
  top: 40%
  transform: translateY(-50%)
  width: 52px
  height: 52px
  border: 2px solid #F1CDB3
  border-radius: 100px
  transition: background 0.5s
  @include flexMixin(center, center)
  svg
    width: 14px
    height: 6px

.friends__slider-btn-control:hover
  cursor: pointer
  background: #FDDCC4

.friends__slider-btn-prev
  left: 0px

.friends__slider-btn-next
  right: 0px

.friends__slider-content
  padding: 0 41px 30px 41px

.friends__slider-link
  transition: background-color 0.5s
  padding: 15px 42px 10px 44px
  border: 2px solid #F1CDB3
  border-radius: 100px
  @include georgiaStyle
  font-size: 17px
  line-height: 22px
  letter-spacing: 0.06em
  color: #292929
  &:hover
    cursor: pointer
    background-color: #FDDCC4

.friends__slider-link-wrap
  text-align: center

.friends__slider-link_rest
  background-color: #F1CDB3
  margin: 0 auto

.help__wrap
  margin-bottom: 100px
  padding-top: 80px

.help__title
  margin: 0 auto
  margin-bottom: 60px
  max-width: 310px
  width: 100%
  text-align: center

.help__block
  max-width: 1026px
  width: 100%
  margin: 0 auto

.help__items
  @include flexMixin
  max-width: 1026px
  margin: 0 auto
  width: 100%

.help__items_width
  max-width: 865px

.help__items_mb
  margin-bottom: 60px

.help__img
  max-width: 60px
  margin: 0 auto
  display: block
  margin-bottom: 30px

.donation__content
  max-width: 380px
  width: 100%

.help__item-title
  max-width: 166px
  @include georgiaStyle

.donation
  background: #F6F6F6

.donation__container
  padding: 80px 0 100px
  max-width: 915px
  width: 100%

.donation__block
  @include flexMixin

.donation__img-wrap
  max-width: 505px

.donation__title
  max-width: 300px
  margin-bottom: 20px
  text-align: left

.donation__bank-info
  margin-bottom: 20px
  @include georgiaStyle
  font-size: 15px
  line-height: 17px
  letter-spacing: 0.06em
  color: #545454
  display: flex
  align-items: flex-start

.donation__card-info
  max-width: 349px
  margin-bottom: 20px
  padding: 10px 14px
  padding-right: 9px
  background: #F1CDB3
  border-radius: 9px
  @include flexMixin(center, flex-start)
  @include georgiaStyle
  transition: background 0.5s
  &:hover
    background: #dab092

.donation__card-icon
  display: inline-block
  font-size: 0
  width: 30px
  height: 23px
  margin-right: 15px

.donation__info-text
  font-family: 'Arial'
  font-style: italic
  font-weight: 400
  font-size: 12px
  line-height: 18px
  color: #B2B2B2

@import ./media
