.wrapper-top
  background: #000
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)

.promo_box
  display: flex
  align-items: center
  justify-content: space-between

.promo_wrap
  padding-top: 163px
  max-width: 460px
  width: 100%

.promo_title
  max-width: 310px
  margin-bottom: 42px
  font-size: 44px
  line-height: 57px
  font-style: normal
  font-weight: 400
  display: flex
  align-items: center
  color: #FFFFFF

.promo_text
  margin-bottom: 42px
  font-size: 15px
  line-height: 24px
  color: #CDCDCD

.promo_btn
  padding: 15px 45px

.promo_img-wrap
  max-width: 698px
